.venv/
.terraform*/
.terraform/
terraform.tfstate*
/provider_override.tf
.pytest_cache/
.envrc
.coverage
__pycache__/
*.log
.directory
dev.tfvars.orig
user-*.tfvars
plan.txt
deploy.sh
.idea/*
*tmp.json
.direnv/
errored.tfstate
/**/*/bin/*
/**/*/lib64/*
/**/*/lib/*
/**/*/htmlcov/*
*.sqlite3
*.sqlite